<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="{% if page.hide_chrome %}no-chrome {% endif %}layout-{{ page.layout | default: 'none' }}">

    {%- unless page.hide_chrome -%}
    {%- include header.html -%}
    {%- endunless -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- unless page.hide_chrome -%}
    {%- include footer.html -%}
    {%- endunless -%}

  </body>

</html>
